[submodule "crates/typedlua-sourcemap"]
	path = crates/typedlua-sourcemap
	url = https://github.com/forge18/typedlua-sourcemap.git
[submodule "crates/typedlua-parser"]
	path = crates/typedlua-parser
	url = https://github.com/forge18/typedlua-parser.git
[submodule "crates/typedlua-lsp"]
	path = crates/typedlua-lsp
	url = https://github.com/forge18/typedlua-lsp.git
